/* The Grid - Mike Simmonds - https://github.com/MikeSimmonds/Grid */
.container {
  margin-left: auto;
  margin-right: auto;
}

.row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after {
  clear: both;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
  zoom: 1;
}

.row [class*=col] {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col1 {
  width: 60px;
}
.row .col2 {
  width: 140px;
}
.row .col3 {
  width: 220px;
}
.row .col4 {
  width: 300px;
}
.row .col5 {
  width: 380px;
}
.row .col6 {
  width: 460px;
}
.row .col7 {
  width: 540px;
}
.row .col8 {
  width: 620px;
}
.row .col9 {
  width: 700px;
}
.row .col10 {
  width: 780px;
}
.row .col11 {
  width: 860px;
}
.row .col12, .container {
  width: 940px;
}

.row .offset1 {
  margin-left: 90px;
}
.row .offset2 {
  margin-left: 170px;
}
.row .offset3 {
  margin-left: 250px;
}
.row .offset4 {
  margin-left: 330px;
}
.row .offset5 {
  margin-left: 410px;
}
.row .offset6 {
  margin-left: 490px;
}
.row .offset7 {
  margin-left: 570px;
}
.row .offset8 {
  margin-left: 650px;
}
.row .offset9 {
  margin-left: 730px;
}
.row .offset10 {
  margin-left: 810px;
}
.row .offset11 {
  margin-left: 890px;
}

@media (min-width:1230px) {
  body {
    font-size: 1.125em; /* 18/16 = 1.125 */
  }
  
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .row [class*=col] {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .row .col1 {
    width: 70px;
  }
  .row .col2 {
    width: 170px;
  }
  .row .col3 {
    width: 270px;
  }
  .row .col4 {
    width: 370px;
  }
  .row .col5 {
    width: 470px;
  }
  .row .col6 {
    width: 570px;
  }
  .row .col7 {
    width: 670px;
  }
  .row .col8 {
    width: 770px;
  }
  .row .col9 {
    width: 870px;
  }
  .row .col10 {
    width: 970px;
  }
  .row .col11 {
    width: 1070px;
  }
  .row .col12, .container {
    width: 1170px;
  }
  
  .row .offset1 {
    margin-left: 115px;
  }
  .row .offset2 {
    margin-left: 215px;
  }
  .row .offset3 {
    margin-left: 315px;
  }
  .row .offset4 {
    margin-left: 415px;
  }
  .row .offset5 {
    margin-left: 515px;
  }
  .row .offset6 {
    margin-left: 615px;
  }
  .row .offset7 {
    margin-left: 715px;
  }
  .row .offset8 {
    margin-left: 815px;
  }
  .row .offset9 {
    margin-left: 915px;
  }
  .row .offset10 {
    margin-left: 1015px;
  }
  .row .offset11 {
    margin-left: 1115px;
  }
}

@media (min-width:768px) and (max-width:980px) {
  .row .col1 {
    width: 42px;
  }
  .row .col2 {
    width: 104px;
  }
  .row .col3 {
    width: 166px;
  }
  .row .col4 {
    width: 228px;
  }
  .row .col5 {
    width: 290px;
  }
  .row .col6 {
    width: 352px;
  }
  .row .col7 {
    width: 414px;
  }
  .row .col8 {
    width: 476px;
  }
  .row .col9 {
    width: 538px;
  }
  .row .col10 {
    width: 600px;
  }
  .row .col11 {
    width: 662px;
  }
  .row .col12, .container {
    width: 724px;
  }
  
  .row .offset1 {
    margin-left: 74px;
  }
  .row .offset2 {
    margin-left: 138px;
  }
  .row .offset3 {
    margin-left: 202px;
  }
  .row .offset4 {
    margin-left: 266px;
  }
  .row .offset5 {
    margin-left: 330px;
  }
  .row .offset6 {
    margin-left: 394px;
  }
  .row .offset7 {
    margin-left: 458px;
  }
  .row .offset8 {
    margin-left: 522px;
  }
  .row .offset9 {
    margin-left: 586px;
  }
  .row .offset10 {
    margin-left: 650px;
  }
  .row .offset11 {
    margin-left: 714px;
  }
}

@media (max-width:768px) {
  body {
    font-size: 1.125em; /* 18/16 = 1.125 */
  }
  
  .container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .row [class*=col] {
    width: auto;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width:480px) {
  body {
    font-size: 1em; /* 16/16 = 1 */
  }
}
